<div class="edit-form">
  <h2>Edit Instruction</h2>
  <%= form_with model: @instruction, local: true do |f| %>
    <div class="form-group">
      <%= f.label :content, 'Instruction' %>
      <%= f.text_area :content, rows: 5, class: 'form-control' %>
    </div>
    <div class="form-actions">
      <%= f.submit 'Save', class: 'btn' %>
      <%= link_to 'Cancel', instructions_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
